body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #24252a;
}

p {
  font-size: 16px;
  margin: 0;
}
li {
  list-style-type: none;
}
ul {
  padding: 0;
}
:root {
  --light: #777;
  --red: #eb5757;
  --blue: #bcc7ff;
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    height: 100%;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap");
